{% extends "base.html" %}

{% block body %}
  <div class="container">
    <section id="chart-section">
      <h2>Space Launches to Date</h2>
      <p>Check the space launches history from the very first one, with also updates for any upcoming</p>
      <form id="rangeForm" style="margin: 1rem 0;">
        <label><strong>From:</strong>
          <input type="text" id="startMonth" required>
        </label>
        <label><strong>To:</strong>
          <input type="text" id="endMonth" required>
        </label>
        <button type="submit">Update</button>
      </form>
      <canvas id="launchChart"></canvas>
    </section>
    <section id="calendar-section">
      <h2>Launch Calendar</h2>
      <div id="calendar"></div>
    </section>
  </div>
  <script>
    window.chartData = {{ chart_data | tojson }};
    window.rawData = {{ raw_data | tojson }};
    window.upcomingLaunches = {{ upcoming_launches | tojson }};
  </script>
  <!-- =============== JS =============== -->
  <script src="static/js/script.js"></script>
{% endblock %}